html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
 }

body {
    width: 100%;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    font-size: 2rem;
    margin: 1vw 0;
}
.inicio{
    text-align: center;
    margin: 2vw 0;
}
.inicio > .jogar > button{
    font-size: 1.2rem;
}

table, th, td {
    border: 1px solid rgb(2, 0, 73);
    border-collapse: collapse;
  }

td {
    width: 13vw; 
    height: 21vw;
    text-align: center;
    vertical-align:  middle;
  }

table {
    margin: 2vw auto;
    text-align: center;
}

.discos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.discos p {
    margin: 0;
}
.vermelho{
/* Eu tive que desativar as propriedades de margem pois com a configuração anterior os discos desconfiguravam as medidas da tabela.
Responsável pela alteração: Renan Nunes */
	border-radius: 50%;
    background:red; 
    width: 7vw; 
    height: 7vw;
    margin: 0 auto;
}
.preto{
    align-items: center;
	border-radius: 50%;
    background: black; 
    width: 7vw; 
    height: 7vw;
    margin: 0 auto;
}

