html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
 }

body {
    width: 100%;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    font-size: 2rem;
    margin: 1vw 0;
}
.inicio{
    text-align: center;
    margin: 2vw 0;
}
.inicio > .jogar > button{
    font-size: 1.2rem;
}
.inicio > .reset > button{
    font-size: 1.2rem;
    margin-top: 2vw;
}

table, th, td {
    border: 1px solid rgb(2, 0, 73);
    border-collapse: collapse;
  }

td {
    width: 13vw; 
    height: 21vw;
    text-align: center;
    vertical-align:  middle;
  }

table {
    margin: 2vw auto;
    text-align: center;
}

.discos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.vermelho{
	border-radius: 50%;
    background:red; 
    width: 10vw; 
    height: 10vw;
    margin: 0 auto;
}
.preto{
    align-items: center;
	border-radius: 50%;
    background: black; 
    width: 10vw; 
    height: 10vw;
    margin: 0 auto;
}

.empatou {
    text-align: center;
    text-transform: uppercase;
    margin-top: 2vw;
    font-size: 2rem;
}

.msgVermelho {
    display: flex;
    justify-content: center;
    margin: 2vw 0;
    align-items: center;
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    width: 100%;
    height: 50px;
}

.msgPreto{
    display: flex;
    justify-content: center;
    margin: 2vw 0;
    align-items: center;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    width: 100%;
    height: 50px;
}

.animacao6 {
    animation-name: example6;
    position: relative;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

@keyframes example6 {
    0% {bottom:126vw;}
    66% {bottom: 0;}
    70% {bottom: 10vw;}
    75% {bottom: 0;}
    80% {bottom: 8vw;}
    85% {bottom: 0vw;}
    90% {bottom: 4vw;}
    95% {bottom: 0vw;}
    100% {bottom: 0}
}

.animacao5 {
    animation-name: example5;
    position: relative;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

@keyframes example5 {
    0% {bottom:105vw;}
    66% {bottom: 0;}
    70% {bottom: 10vw;}
    75% {bottom: 0;}
    80% {bottom: 8vw;}
    85% {bottom: 0vw;}
    90% {bottom: 4vw;}
    95% {bottom: 0vw;}
    100% {bottom: 0}
}

.animacao4 {
    animation-name: example4;
    position: relative;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

@keyframes example4 {
    0% {bottom:84vw;}
    66% {bottom: 0;}
    70% {bottom: 10vw;}
    75% {bottom: 0;}
    80% {bottom: 8vw;}
    85% {bottom: 0vw;}
    90% {bottom: 4vw;}
    95% {bottom: 0vw;}
    100% {bottom: 0}
}

.animacao3 {
    animation-name: example3;
    position: relative;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

@keyframes example3 {
    0% {bottom:63vw;}
    66% {bottom: 0;}
    70% {bottom: 10vw;}
    75% {bottom: 0;}
    80% {bottom: 8vw;}
    85% {bottom: 0vw;}
    90% {bottom: 4vw;}
    95% {bottom: 0vw;}
    100% {bottom: 0}
}

.animacao2 {
    animation-name: example2;
    position: relative;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

@keyframes example2 {
    0% {bottom:42vw;}
    66% {bottom: 0;}
    70% {bottom: 10vw;}
    75% {bottom: 0;}
    80% {bottom: 8vw;}
    85% {bottom: 0vw;}
    90% {bottom: 4vw;}
    95% {bottom: 0vw;}
    100% {bottom: 0}
}

.animacao1 {
    animation-name: example1;
    position: relative;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

@keyframes example1 {
    0% {bottom:21vw;}
    66% {bottom: 0;}
    70% {bottom: 5vw;}
    75% {bottom: 0;}
    80% {bottom: 4vw;}
    85% {bottom: 0;}
    90% {bottom: 2vw;}
    95% {bottom: 0;}
    100% {bottom: 0}
}

@media only screen and (min-width: 768px) {
    td {
        height: 100px;
        width: 100px;
    }

    .vermelho, .preto {
        height: 80px;
        width: 80px;
    }

    @keyframes example6 {
        0% {bottom: 600px;}
        66% {bottom: 0;}
        70% {bottom: 50px}
        75% {bottom: 0;}
        80% {bottom: 25px;}
        85% {bottom: 0;}
        90% {bottom: 12px;}
        95% {bottom: 0;}
        100% {bottom: 0}
    }

    @keyframes example5 {
        0% {bottom: 500px;}
        66% {bottom: 0;}
        70% {bottom: 50px}
        75% {bottom: 0;}
        80% {bottom: 25px;}
        85% {bottom: 0;}
        90% {bottom: 12px;}
        95% {bottom: 0;}
        100% {bottom: 0}
    }

    @keyframes example4 {
        0% {bottom: 400px;}
        66% {bottom: 0;}
        70% {bottom: 50px}
        75% {bottom: 0;}
        80% {bottom: 25px;}
        85% {bottom: 0;}
        90% {bottom: 12px;}
        95% {bottom: 0;}
        100% {bottom: 0}
    }

    @keyframes example3 {
        0% {bottom: 300px;}
        66% {bottom: 0;}
        70% {bottom: 50px}
        75% {bottom: 0;}
        80% {bottom: 25px;}
        85% {bottom: 0;}
        90% {bottom: 12px;}
        95% {bottom: 0;}
        100% {bottom: 0}
    }

    @keyframes example2 {
        0% {bottom: 200px;}
        66% {bottom: 0;}
        70% {bottom: 50px}
        75% {bottom: 0;}
        80% {bottom: 25px;}
        85% {bottom: 0;}
        90% {bottom: 12px;}
        95% {bottom: 0;}
        100% {bottom: 0}
    }

    @keyframes example1 {
        0% {bottom: 100px;}
        66% {bottom: 0;}
        70% {bottom: 25px}
        75% {bottom: 0;}
        80% {bottom: 12px;}
        85% {bottom: 0;}
        90% {bottom: 6px;}
        95% {bottom: 0;}
        100% {bottom: 0}
    }


}